# Exclude the Build folder
build/

# Exclude all library files in WestEngine/Core/Libs and any of its subdirectories
WestEngine/Core/Libs/
UserInterface/WestEngine/

# Exclude all build paths of Interface module
UserInterface/build/

# Exclue cache
**/.cache/

compile_commands.json
.luarc.json
