# Exclude the Build folder
build/

# Exclude all library files in WestEngine/Core/Libs and any of its subdirectories
WestEngine/Core/Libs/
UserInterface/WestEngine/
Libs/

# Exclude all build paths of Interface module
UserInterface/build/

# Exclue cache
**/.cache/

compile_commands.json
.luarc.json

# Claude Code files and directories
.claude/
CLAUDE.md
DEBUG_INSTRUCTIONS.md

